/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/12/2016, 14:47:46
    Author     : franciane.pereira
*/
body{
    font-size: 1vw !important;
    margin: 0vw;
    padding: 0vw;
}

header{
    margin: 0vw 0vw 2vw 0vw;
}

div.body{
    margin-top: 4vw;
    width: 100%;
    text-align: justify;
}

div#contentMenu {
    background-color: #000;
}

#contentMenu ul {
    list-style-type: none;
    position: relative;
    display: inline-flex;
    margin: 0vw;
    border: 1px solid #000;
    width: 100%;
}

#contentMenu ul li {
    margin: 0vw 2vw;
    padding: 1vw;
}

#contentMenu ul li a {
    font-size: 1vw;
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(91, 192, 222, 0.7);
}

#contentMenu ul li a:hover {
    color: rgba(91, 192, 222, 1);
    text-decoration: none;
    cursor: pointer;
}

div#contentInteresse, div#contentCompetencia, div#contentContato, div#contentCurso, div#contentResumo, div#contentExperiencia, div#contentFormacao {
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 4vw;
}

div#contentInteresse ul, div#contentCompetencia ul {
    list-style-type: none;
    width: 100%;
    padding: 0vw 7vw;
}

div#contentInteresse ul li, div#contentCompetencia ul li {
    margin: 1vw 1vw;
    width: 10vw;
    height: 5vw;
    float: left;
    padding: 2% 0vw;
    text-align: center;
}

.item-background-yellow{
    background-color: yellow;
}

.item-background-green{
    background-color: green;
}

.item-background-red{
    background-color: #d80505;
}

.item-background-blue{
    background-color: #337ab7;
}

.item-background-orange{
    background-color: orange; 
}

.item-background-gray{
    background-color: gray;
}

.item-background-violet{
    background-color: blueviolet;
}

.item-background-brown{
    background-color: #795548;
}

.item-font{
    color:white;
    font-weight: bold;
}

div#content h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw;
}

div#contentExperiencia ul.first, div#contentFormacao ul.first {
    list-style-type: none;
    width: 100%;
    padding: 0vw 7vw;
}

div#contentExperiencia ul li, div#contentFormacao ul li{
    margin-bottom: 1vw;
}

div#contentCurso ul {
    list-style-type: circle;
    width: 80%;
    padding: 0vw 7vw;
}