<div id="contentExperiencia">
    <h3>Experiência</h3>
    <div class="body">
        <ul data-bind="foreach: experiencias">
            <li>
                <div>
                    <ul>
                        <li><h4 data-bind="html:$data.empresa"></h4></li>
                        <li><span data-bind="html:$data.cargo"></span></li>
                        <li><span data-bind="html:$data.periodo"></span></li>
                        <li><p data-bind="html:$data.descricao"></p></li>
                    </ul>
                </div>
            </li>  
        </ul>
    </div>
</div>