<div id="contentResumo">
    <h3>Resumo</h3>
    <div class="row">
        <div class="col-lg-6">
            <ul class="title">
                <li data-bind="html:title_fullname"></li>
                <li data-bind="html:title_email"></li>
                <li data-bind="html:title_cellphone"></li>
                <li data-bind="html:title_telephone"></li>        
                <li data-bind="html:title_city"></li>
                <li data-bind="html:title_state"></li>        
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="describe">
                <li data-bind="html:fullname"></li>
                <li data-bind="html:email"></li>
                <li data-bind="html:cellphone"></li>
                <li data-bind="html:telephone"></li>        
                <li data-bind="html:city"></li>
                <li data-bind="html:state"></li>        
            </ul>
        </div>
    </div>
</div>
